In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [6]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2643619 entries, 0 to 2643618
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 121.0+ MB

In [7]:
# Filter by total votes
# To pick reviews that are more likely to be helpful

filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [21]:
# Find most helpful reviews
# To retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%

new_vine_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]
new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [22]:
# Create a new DataFramethat retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

vine_reviewsY_df = new_vine_df[new_vine_df['vine'] == 'Y']
vine_reviewsY_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N

In [23]:
# Create a new DataFramethat retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'N'.

vine_reviewsN_df = new_vine_df[new_vine_df['vine'] == 'N']
vine_reviewsN_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [25]:
# 5-Star Review Analysis:
# Comparing the vine and non-vine program

count_vine = len(vine_reviewsY_df)
count_vine

170

In [26]:
count_nonvine = len(vine_reviewsN_df)
count_nonvine

37840

In [27]:
max_rating_Yvine = len(vine_reviewsY_df[vine_reviewsY_df['star_rating']==5])
max_rating_Yvine

65

In [29]:
max_rating_Nvine = len(vine_reviewsN_df[vine_reviewsN_df['star_rating']==5])
max_rating_Nvine

20612

In [30]:
# 5-Star Review percentage by program
# 5-star Vine Reviews:

max_rating_Yvine/count_vine

0.38235294117647056

In [31]:
max_rating_Nvine/count_nonvine

0.5447145877378435

In [32]:
# Further Analysis
# Average star rating of reviews per program (paid and unpaid)

# Paid Vine Program

round(vine_reviewsY_df['star_rating'].mean(),2)

3.93

In [33]:
# Unpaid Vine Program

round(vine_reviewsN_df['star_rating'].mean(),2)

3.76